{
  "rules": {
    "block-scoped-var": 1,
    "brace-style": [
      1,
      "1tbs"
    ],
    "camelcase": [
      1,
      {
        "properties": "always"
      }
    ],
    "comma-dangle": 1,
    "comma-spacing": [
      1,
      {
        "before": false,
        "after": true
      }
    ],
    "comma-style": [
      1,
      "last"
    ],
    "eol-last": 0,
    "generator-star-spacing": [
      1,
      "after"
    ],
    "guard-for-in": 1,
    "indent": [
      1,
      2
    ],
    "no-eq-null": 2,
    "no-extra-parens": 1,
    "no-lonely-if": 1,
    "no-mixed-spaces-and-tabs": [
      1,
      "smart-tabs"
    ],
    "no-spaced-func": 1,
    "no-throw-literal": 2,
    "no-trailing-spaces": 0,
    "no-underscore-dangle": 0,
    "no-undefined": 2,
    "no-unused-vars": 1,
    "no-var": 1,
    "quotes": [
      0,
      "double",
      "avoid-escape"
    ],
    "radix": 1,
    "semi-spacing": [
      1,
      {
        "before": false,
        "after": true
      }
    ],
    "strict": [
      1
    ],
    "vars-on-top": 1,
    "wrap-iife": 1,
    "react/display-name": 0,
    "react/jsx-boolean-value": 1,
    "jsx-quotes": 1,
    "react/jsx-no-undef": 1,
    "react/jsx-sort-props": 1,
    "react/jsx-sort-prop-types": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-multi-comp": 1,
    "react/no-unknown-property": 1,
    "react/prop-types": 1,
    "react/react-in-jsx-scope": 1,
    "react/self-closing-comp": 1,
    "react/sort-comp": 1,
    "react/wrap-multilines": 1
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true,
    "modules": true,
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "forOf": true,
    "generators": true,
    "superInFunctions": true,
    "templateStrings": true,
    "jsx": true
  },
  "plugins": [
    "react"
  ]
}