<div class="tracksView">
    <h1> {{ title }}</h1>
    
    <p class="noData" ng-if="!isLoading"><strong>No tracks on your user account.</strong></p>

    <!-- Song list wrapper -->
    <div class="tracksView_inner" >
        <ul class="songList"
            infinite-scroll='loadMore()'
            infinite-scroll-distance='0'
            infinite-scroll-disabled='{{ busy }}'
            infinite-scroll-immediate-check='false' >

            <li class="songList_item" ng-repeat="data in data"
                ng-if="data.kind == 'track' && data.streamable" >

                <tracks data="data"/>

            </li>
        </ul>
    </div>
    <!-- Song list wrapper / end -->

    <div ng-include="'views/partials/loading.html'"></div>

</div>