@charset "utf-8";

/*
* Color Palette
* body-background: #121314;
* section-background: #222326;
* link-color: #949599;
* icon/text-color: #fff;
* separator/fill-color: #3e3e40;
*/

/* ==========================================================================
#   Application style structure guide
#   @Default
========================================================================== */

/* ==========================================================================
@Default
========================================================================== */
* {
    box-sizing: border-box;
}

body {
    background: #121314;
    font: 62.5% Helvetica, sans-serif, arial;
    color: #fff;
}

a {
    color: #949599;
    text-decoration: none;
}
a:hover {
    color: #fff;
}

ul, 
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}