/* ==========================================================================
#   Application style structure guide
#   @Default
#   @Config
#   @Iframe
#   @App
#   @Aside
#   @Header
#   @MainNav
#   @Search
#   @NowPlaying
#   @MainView - wrapper
========================================================================== */
/* ==========================================================================
@Config
* Color Palette
========================================================================== */
/* ==========================================================================
@Default
========================================================================== */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  border-top: 2px solid #ff5500;
  background: #121314;
  font: 62.5% helvetica, sans-serif, arial !important;
  color: #949599;
  height: 100%;
}

a {
  color: #949599;
  text-decoration: none;
  transition: all 0.5s ease;
}

a:hover {
  color: #fff;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #fff;
}

::-webkit-scrollbar {
  width: 0 !important;
}

.fa {
  color: #fff;
}

.searchButton {
  display: none;
}

/* ==========================================================================
@App state
========================================================================== */
body[data-isVisible="false"] .ui_app {
  display: none;
}
body[data-isVisible="false"] .box-loader {
  display: block;
}

body[data-isVisible="true"] .ui_app {
  display: block;
}
body[data-isVisible="true"] .box-loader {
  display: none;
}

/* ==========================================================================
@Iframe
========================================================================== */
#elIframe {
  position: absolute;
  left: -9999px;
  border: none;
  background: transparent;
}

/* ==========================================================================
@App wrapper
========================================================================== */
/* ==========================================================================
@Aside
========================================================================== */
.aside {
  background: #222326;
  border-right: 1px solid black;
  width: 200px;
  position: fixed;
  top: 2px;
  bottom: 0;
  left: 0;
}

/* ==========================================================================
@Header
========================================================================== */
.header {
  padding: 15px 10px 10px;
}

.user {
  padding: 10px 0 0;
  overflow: hidden;
}

.user_thumb {
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50px;
  float: left;
}

.user_inner {
  float: left;
  margin: 0 0 0 20px;
}

.user_name,
.user_logOut {
  font-weight: normal;
  display: block;
}

.user_name {
  font-size: 12px;
  color: #fff;
}

.user_logOut {
  font-size: 10px;
}

/* ==========================================================================
@MainNav
========================================================================== */
.mainNav {
  padding: 10px 15px;
  margin: 0 0 30px 0;
}

.ui_title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  color: #949599;
  margin: 0 0 10px;
}

.mainNav_item {
  margin: 0 0 10px 0;
}
.mainNav_item:last-child {
  margin: 0;
}

.mainNav_button {
  font-size: 14px;
  display: block;
}
.mainNav_button .fa {
  color: #fff;
  display: inline-block;
  width: 25px;
}

.mainNav_tit {
  display: inline-block;
}

/* ==========================================================================
@Search
========================================================================== */
.search {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.search_field {
  border: 1px solid #000;
  background: #121314;
  width: 80%;
  display: inline-block;
  height: 25px;
  padding: 0 0 0 5px;
  outline: none;
  color: #fff;
  font-size: 12px;
  transition: all 0.5s ease;
  border-radius: 5px;
}
.search_field:focus {
  box-shadow: 0 0 5px #ff5500;
}

/* ==========================================================================
@NowPlaying
========================================================================== */
.nowPlaying_inner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 200px;
  border-right: 1px solid black;
}

.nowPlaying_thumb {
  width: 100%;
  height: 200px;
  margin: 0 0 10px 0;
  display: block;
}

.nowPlaying_title {
  padding: 0 15px 5px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nowPlaying_user {
  display: inline-block;
  color: #949599;
  font-size: 11px;
  white-space: nowrap;
  text-transform: uppercase;
  padding: 0 15px 5px;
}

.nowPlaying_player {
  margin: 10px 0 0;
}

/* ==========================================================================
@MainView - wrapper
========================================================================== */
.mainView {
  padding: 10px 20px;
  margin-left: 200px;
}
.mainView > div {
  max-width: 930px;
  min-width: 930px;
  margin: 0 auto;
}
.mainView > div > h1 {
  margin: 10px 0 30px;
}

/* ==========================================================================
@SongList
========================================================================== */
.songList_item {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0 5px 80px 5px;
  width: 300px;
  height: 450px;
}
.songList_item.active .songList_item_song_button {
  -webkit-transform: scale(1);
  opacity: 1;
}
.songList_item .songList_item_box:first-child {
  margin-bottom: 20px;
}
.songList_item .songList_item_box:last-child {
  margin: 10px 0 0 0;
}

.songList_item_box {
  width: 300px;
  height: 300px;
}

.songList_item_container_artwork {
  width: 100%;
  height: 300px;
}

.songList_item_artwork {
  display: block;
  width: 100%;
  margin: 0 0 10px 0;
}

.songList_item_song_button {
  display: block;
  font-size: 50px;
  width: 100%;
  cursor: pointer;
  position: absolute;
  top: 0;
  height: 300px;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding-top: 135px;
  transition: all 200ms linear;
  -webkit-transform: scale(0);
  opacity: 0;
}
.songList_item_song_button .hidden {
  display: none;
}

.songList_item_song_user {
  display: inline-block;
  color: #949599;
  font-size: 11px;
  text-transform: uppercase;
}

.songList_item_song_tit {
  font-size: 20px;
  margin: 5px 0;
  height: 50px;
  overflow: hidden;
}

.songList_item_song_details {
  margin-top: 15px;
  font-size: 12px;
}
.songList_item_song_details div {
  margin: 0 0 5px 0;
}
.songList_item_song_details span {
  display: inline-block;
  margin: 0 5px 0 0;
}
.songList_item_song_details span:last-child {
  margin-right: 0;
}
.songList_item_song_details a > .fa {
  color: #fff;
  display: inline-block;
  margin: 0 5px 0 0;
}

/* ==========================================================================
@Loader
========================================================================== */
.box-loader {
  display: block;
  height: 35px;
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -125px;
  margin-top: -17px;
}
.box-loader > h4 {
  font-size: 12px;
  font-weight: normal;
}

.loader:before {
  content: "";
  position: absolute;
  top: 0px;
  left: -25px;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  -webkit-animation: loaderB 3s ease-in-out infinite;
  animation: loaderB 3s ease-in-out infinite;
}

.loader {
  position: relative;
  width: 12px;
  height: 12px;
  top: 46%;
  left: 46%;
  border-radius: 12px;
  -webkit-animation: loaderM 3s ease-in-out infinite;
  animation: loaderM 3s ease-in-out infinite;
}

.loader:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 25px;
  height: 12px;
  width: 12px;
  border-radius: 10px;
  -webkit-animation: loaderA 3s ease-in-out infinite;
  animation: loaderA 3s ease-in-out infinite;
}

@-webkit-keyframes loaderB {
  0% {
    background-color: rgba(255, 85, 0, 0.2);
  }

  25% {
    background-color: #ff5500;
  }

  50% {
    background-color: rgba(255, 85, 0, 0.2);
  }

  75% {
    background-color: rgba(255, 85, 0, 0.2);
  }

  100% {
    background-color: rgba(255, 85, 0, 0.2);
  }
}

@keyframes loaderB {
  0% {
    background-color: rgba(255, 85, 0, 0.2);
  }

  25% {
    background-color: #ff5500;
  }

  50% {
    background-color: rgba(255, 85, 0, 0.2);
  }

  75% {
    background-color: rgba(255, 85, 0, 0.2);
  }

  100% {
    background-color: rgba(255, 85, 0, 0.2);
  }
}

@-webkit-keyframes loaderM {
  0% {
    background-color: rgba(255, 85, 0, 0.2);
  }

  25% {
    background-color: rgba(255, 85, 0, 0.2);
  }

  50% {
    background-color: #ff5500;
  }

  75% {
    background-color: rgba(255, 85, 0, 0.2);
  }

  100% {
    background-color: rgba(255, 85, 0, 0.2);
  }
}

@keyframes loaderM {
  0% {
    background-color: rgba(255, 85, 0, 0.2);
  }

  25% {
    background-color: rgba(255, 85, 0, 0.2);
  }

  50% {
    background-color: #ff5500;
  }

  75% {
    background-color: rgba(255, 85, 0, 0.2);
  }

  100% {
    background-color: rgba(255, 85, 0, 0.2);
  }
}

@-webkit-keyframes loaderA {
  0% {
    background-color: rgba(255, 85, 0, 0.2);
  }

  25% {
    background-color: rgba(255, 85, 0, 0.2);
  }

  50% {
    background-color: rgba(255, 85, 0, 0.2);
  }

  75% {
    background-color: #ff5500;
  }

  100% {
    background-color: rgba(255, 85, 0, 0.2);
  }
}

@keyframes loaderA {
  0% {
    background-color: rgba(255, 85, 0, 0.2);
  }

  25% {
    background-color: rgba(255, 85, 0, 0.2);
  }

  50% {
    background-color: rgba(255, 85, 0, 0.2);
  }

  75% {
    background-color: #ff5500;
  }

  100% {
    background-color: rgba(255, 85, 0, 0.2);
  }
}
