<div class="searchView">
    <h1> {{ title }} {{ keyword }}</h1>

    <!-- Song list wrapper -->
    <div class="searchView_inner">

        <ul class="songList"
            infinite-scroll='loadMore()'
            infinite-scroll-distance='0'
            infinite-scroll-disabled='{{ busy }}'
            infinite-scroll-immediate-check='false'>

            <li class="songList_item" ng-repeat="data in data"
                ng-if="data.kind == 'track' && data.streamable" >

                <tracks data="data"/>

            </li>
        </ul>
    </div>
    <!-- Song list wrapper / end -->

    <div ng-include="'views/partials/loading.html'"></div>

</div>