<div class="streamView">
    <h1> {{ title }}</h1>
    
    <!-- Song list wrapper -->
    <div class="streamView_inner">
        <ul class="songList">
            <li class="songList_item" ng-repeat="data in data">
                
                <img src="{{ data.origin.artwork_url }}" alt="{{ data.origin.title }}" class="songList_item_artwork">

                <section class="songList_item_song">
                    <header>
                        <span class="songList_item_song_button">
                            <i class="fa fa-play-circle-o"></i>
                            <i class="fa fa-pause"></i>
                        </span>
                        <h4 class="songList_item_song_user">{{ data.origin.user.username }}</h4>
                        <h2 class="songList_item_song_tit">{{ data.origin.title }}</h2>
                    </header>
                    <img src="{{ data.origin.waveform_url }}" alt="{{ data.origin.title }}" class="songList_item_song_waveForm">
                    <div class="songList_item_song_details">
                        <a href="{{ data.origin.download_url }}">download song</a>
                        <span>{{ data.origin.genre }}</span>
                        <span>{{ data.origin.license }}</span>
                        <a href="{{ data.origin.permalink_url }}">permalink</a>
                    </div>
                </section>

            </li>
        </ul>
    </div>

</div>