<div class="streamView">
    <h1> {{ title }}</h1>
    
    <!-- Song list wrapper -->
    <div class="streamView_inner">
        <ul class="songList">
            <li class="songList_item">
                
                <img src="" alt="" class="songList_item_artwork">

                <section class="songList_item_song">
                    <header>
                        <span class="songList_item_song_button">
                            <i class="fa fa-play-circle-o"></i>
                            <i class="fa fa-pause"></i>
                        </span>
                        <h4 class="songList_item_song_user"></h4>
                        <h2 class="songList_item_song_tit"></h2>
                    </header>
                    <img src="" alt="" class="songList_item_song_waveForm">
                    <details class="songList_item_song_details">
                        download url
                        genre
                        license
                        permalink url
                    </details>
                </section>

            </li>
        </ul>
    </div>

</div>