<div class="songList_item_container_artwork"
     ng-class="{ active: hover }"
     ng-mouseover="hover = true"
     ng-mouseleave="hover = false">
                    <span class="songList_item_song_button"
                          song
                          data-song-url="{{ data.stream_url }}"
                          data-song-thumbnail="{{ data.artwork_url }}"
                          data-song-title="{{ data.title }}"
                          data-song-user="{{ data.user.username }}" >

                        <i class="fa fa-play"></i>
                        <i class="fa fa-pause"></i>
                    </span>
    <img ng-controller="AppCtrl" ng-src="{{ showBigArtwork (data.artwork_url) }}" alt="{{ data.title }}" class="songList_item_artwork">
</div>

<section class="songList_item_inner">
    <h3 class="songList_item_song_tit">{{ data.title }}</h2>
        <a ui-sref="profile({id: {{data.user.id}}})">
            <h3 class="songList_item_song_user">{{ data.user.username }}
        </a><span class="songList_item_song_length">{{ formatSongDuration (data.duration) }}</span></h3>

    <div class="songList_item_song_details">
        <div>
            <span>
                <a href="{{ data.permalink_url }}" open-external target="_blank"> <i class="fa fa-external-link-square"></i> permalink</a>
            </span>
            <span>
                <a favorite-song data-song-id="{{ data.id }}" data-favorite-action="save"> <i class="fa fa-heart"></i> like</a>
            </span>
            <span>
                <a data-song-id="{{ data.id }}"> <i class="fa fa-bookmark"></i> Add to playlist</a>
            </span>
        </div>
        <div>
            <span>{{ data.genre }}</span>
            <span>{{ data.license }}</span>
        </div>
    </div>
</section>