<!DOCTYPE html>
<html lang="en">

<head>
    <title>Soundnode App</title>
  
    <!-- style -->
    <link href="public/stylesheets/css/vendor/normalize.min.css" rel="stylesheet">
    <link href="public/stylesheets/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="public/stylesheets/css/app.css" rel="stylesheet">
    <link href="public/stylesheets/css/vendor/hotkeys.css" rel="stylesheet">
    <link href="public/stylesheets/css/vendor/ngDialog.css" rel="stylesheet">
    
    <!-- meta -->
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

</head>

<body data-isVisible="false" ng-controller="AppCtrl">
    
    <!-- loading gif -->
    <div class="box-loader loading">
        <h4>Please authenticate your Soundcloud account.</h4>
        <div class="loader"></div>
    </div>
    <!-- loading gif / end -->
    
    <!-- UI App -->
    <div id="app" class="ui_app" ng-class="{ songPlaying: isSongPlaying }">

        <!-- header -->
        <header class="topFrame">
            <ul class="windowAction">
                <li class="windowAction_item " id="closeApp">
                    <i class="fa fa-times"></i>
                </li>
                <li class="windowAction_item " id="minimizeApp">
                    <i class="fa fa-minus"></i>
                </li>
                <li class="windowAction_item " id="expandApp">
                    <i class="fa fa-plus"></i>
                </li>
                <li class="windowAction_item navigationButton goBack" ng-click="goBack()">
                    <i class="fa fa-chevron-left"></i>
                </li>
                <li class="windowAction_item navigationButton goForward" ng-click="goForward()">
                    <i class="fa fa-chevron-right"></i>
                </li>
            </ul>

            <ul class="appInfo">
                <li class="appInfo_item" ng-controller="AboutCtrl">
                    <a ng-click="openModal()">about</a>
                </li>
                <li class="appInfo_item" ng-controller="UpdaterCtrl">
                    <a href="http://www.soundnodeapp.com" target="_blank" open-external ng-class="{ updateAvailable: updateAvailable }" data-link="true"> update available! </a>
                </li>
            </ul>

            <h1 class="topFrame_title">
                <img src="public/img/logo.70.png">
            </h1>
        </header>
        <!-- header / end -->
        
        <!-- aside -->
        <aside class="aside">

            <!-- header -->
            <header class="header">
                <!-- user -->
                <div class="user" ng-controller="UserCtrl">
                    <img ng-src="{{ userThumb }}" alt="{{ name }}" class="user_thumb">
                    <div class="user_inner">
                        <span class="user_name">{{ name }}</span>
                        <a href="" class="user_logOut" ng-click="logOut()">Log out</a>
                    </div>
                </div>
                <!-- user / end -->
            </header>
            <!-- header / end -->

            <!-- search -->
            <div class="search" ng-controller="SearchInputCtrl">
                <form ng-submit="onSubmit(keyword)">
                    <input type="search" placeholder="Search" id="search" class="search_field" ng-model="keyword">
                    <input type="submit" id="submit" value="Submit" class="searchButton" />
                </form>
            </div>
            <!-- search / end -->

            <!-- main nav -->
            <nav class="mainNav">
                <h2 class="ui_title">Main</h2>
                <ul class="mainNav_nav">
                    <li class="mainNav_item">
                    <a class="mainNav_button" ui-sref="stream">
                        <i class="fa fa-cloud"></i>
                        <span class="mainNav_tit">Stream</span>
                    </a>
                </li>
                    <li class="mainNav_item">
                        <a class="mainNav_button" ui-sref="following">
                            <i class="fa fa-users"></i>
                            <span class="mainNav_tit">Following</span>
                        </a>
                    </li>
                    <li class="mainNav_item">
                        <a class="mainNav_button" ui-sref="favorites">
                            <i class="fa fa-heart"></i>
                            <span class="mainNav_tit">Likes</span>
                        </a>
                    </li>
                    <li class="mainNav_item">
                        <a class="mainNav_button" ui-sref="tracks">
                            <i class="fa fa-tags"></i>
                            <span class="mainNav_tit">Tracks</span>
                        </a>
                    </li>
                    <li class="mainNav_item">
                        <a class="mainNav_button" ui-sref="playlists">
                            <i class="fa fa-bookmark"></i>
                            <span class="mainNav_tit">Playlists</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- main nav / end -->

            <!-- now player -->
            <div class="player" ng-controller="PlayerCtrl">
                <div class="player_inner">
                    <img id="playerThumb" src="public/img/logo-short.png" alt="" class="player_thumb">
                    <h2 id="playerTitle" class="player_title"></h2>
                    <h4 id="playerUser" class="player_user"></h4>
                    <div class="player_controls">
                        <span class="player_timeLeft" id="player-timeleft">0</span>
                        <span class="player_progress">
                          <span class="player_progress_bar" id="player-progress"></span>
                        </span>
                        <!-- player buttons -->
                        <span class="player_prevSong" ng-click="prevSong($event)">
                            <i class="fa fa-fast-backward"></i>
                        </span>
                        <span class="player_play-pause" ng-click="playPause($event)">
                            <i class="fa fa-play"></i>
                            <i class="fa fa-pause" ></i>
                        </span>
                        <span class="player_nextSong" ng-click="nextSong($event)">
                            <i class="fa fa-fast-forward"></i>
                        </span>
                    </div>
                    <audio id="player" controls src="" class="player_currentSong"></audio>
                </div>
            </div>
            <!-- now player / end -->

        </aside>
        <!-- aside / end -->
        
        <!-- main view -->
        <div class="mainView" ui-view></div>
        <!-- main view / end -->

    </div>
    <!-- UI App / end -->

    <!-- vendors -->
    <script src="public/js/vendor/jquery.min.js"></script>
    <script src="public/js/vendor/angular.js"></script>
    <script src="public/js/vendor/angular-ui-router.min.js"></script>
    <script src="public/js/vendor/hotkeys.min.js"></script>
    <script src="public/js/vendor/ng-infinite-scroll.min.js"></script>
    <script src="public/js/vendor/angular-sanitize.min.js"></script>
    <script src="public/js/vendor/ngDialog.min.js"></script>

    <!-- app -->
    <script src="public/js/system/settings.js"></script>
    <script src="public/js/system/core.js"></script>
    <script src="public/js/app.js"></script>

    <!-- services/factories -->
    <script src="public/js/common/SCapiService.js"></script>
    <script src="public/js/common/playerService.js"></script>

    <!-- controllers -->
    <script src="public/js/common/appCtrl.js"></script>
    <script src="public/js/search/searchInputCtrl.js"></script>
    <script src="public/js/search/searchCtrl.js"></script>
    <script src="public/js/stream/streamCtrl.js"></script>
    <script src="public/js/user/userCtrl.js"></script>
    <script src="public/js/player/playerCtrl.js"></script>
    <script src="public/js/favorites/favoritesCtrl.js"></script>
    <script src="public/js/tracks/tracksCtrl.js"></script>
    <script src="public/js/playlists/playlistsCtrl.js"></script>
    <script src="public/js/following/followingCtrl.js"></script>
    <script src="public/js/about/aboutCtrl.js"></script>
    <script src="public/js/updater/updaterCtrl.js"></script>
    <script src="public/js/profile/profileCtrl.js"></script>
    
    <!-- directives -->
    <script src="public/js/playlists/collapsibleDirective.js"></script>
    <script src="public/js/common/songDirective.js"></script>
    <script src="public/js/common/openExternalLinkDirective.js"></script>
    <script src="public/js/common/favoriteSongDirective.js"></script>
    <script src="public/js/common/downloadSongDirective.js"></script>
    <script src="public/js/common/showMoreDirective.js"></script>
    <script src="public/js/common/tracksDirective.js"></script>

</body>
</html>