<!DOCTYPE html>
<html lang="en">

<head>
    <title>Soundnode App</title>
  
    <!-- style -->
    <link href="public/stylesheets/css/pure.min.css" rel="stylesheet">
    <link href="public/stylesheets/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="public/stylesheets/css/app.css" rel="stylesheet">

</head>

<body data-isVisible="false" ng-controller="AppCtrl">
    
    <!-- loading gif -->
    <div class="box-loader loading">
        <h4>Please authenticate your Soundcloud account.</h4>
        <div class="loader"></div>
    </div>
    <!-- loading gif / end -->
    
    <!-- iframe - used to authenticate user -->
    <iframe id="elIframe" src="http://sc-redirect.herokuapp.com/" frameborder="0" width="0" height="0" nwdisable nwfaketop></iframe>
    <!-- iframe - used to authenticate user / end -->
    
    <!-- UI App -->
    <div id="app" class="ui_app">
        
        <!-- aside -->
        <aside class="aside">

            <!-- header -->
            <header class="header">
                <!-- user -->
                <div class="user" ng-controller="UserCtrl">
                    <img src="{{ userThumb }}" alt="{{ name }}" class="user_thumb">
                    <div class="user_inner">
                        <span class="user_name">{{ name }}</span>
                        <a href="" class="user_logOut" ng-click="logOut()">Log out</a>
                    </div>
                </div>
                <!-- user / end -->
            </header>
            <!-- header / end -->

            <!-- search -->
            <div class="search" ng-controller="searchInputCtrl">
                <form ng-submit="onSubmit(keyword)">
                    <input type="search" placeholder="Search" id="search" class="search_field" ng-model="keyword">
                    <input type="submit" id="submit" value="Submit" class="searchButton" />
                </form>
            </div>
            <!-- search / end -->

            <!-- main nav -->
            <nav class="mainNav">
                <h2 class="ui_title">Main</h2>
                <ul class="mainNav_nav">
                    <li class="mainNav_item">
                        <a class="mainNav_button" ui-sref="stream">
                            <i class="fa fa-cloud"></i>
                            <span class="mainNav_tit">Stream</span>
                        </a>
                    </li>
                    <li class="mainNav_item">
                        <a class="mainNav_button" ui-sref="favorites">
                            <i class="fa fa-heart"></i>
                            <span class="mainNav_tit">Likes</span>
                        </a>
                    </li>
                    <li class="mainNav_item">
                        <a class="mainNav_button" ui-sref="tracks">
                            <i class="fa fa-tags"></i>
                            <span class="mainNav_tit">Tracks</span>
                        </a>
                    </li>
                    <li class="mainNav_item">
                        <a class="mainNav_button" ui-sref="playlists">
                            <i class="fa fa-bookmark"></i>
                            <span class="mainNav_tit">Playlists</span>
                        </a>
                    </li>
                    <!--<li class="mainNav_item">-->
                        <!--<a class="mainNav_button" ui-sref="following">-->
                            <!--<i class="fa fa-users"></i>-->
                            <!--<span class="mainNav_tit">Following</span>-->
                        <!--</a>-->
                    <!--</li>-->
                </ul>
            </nav>
            <!-- main nav / end -->

            <!-- now playing -->
            <div class="nowPlaying" ng-controller="PlayingCtrl">
                <div class="nowPlaying_inner">
                    <img id="playerThumb" src="" alt="" class="nowPlaying_thumb">
                    <h2 id="playerTitle" class="nowPlaying_title"></h2>
                    <h4 id="playerUser" class="nowPlaying_user"></h4>
                    <audio id="player" controls src="" class="nowPlaying_player"></audio>
                </div>
            </div>
            <!-- now playing / end -->
        </aside>
        <!-- aside / end -->
        
        <!-- main view -->
        <div class="mainView" ui-view></div>
        <!-- main view / end -->

    </div>
    <!-- UI App / end -->

    <!-- vendor -->
    <script src="public/js/vendor/angular.js"></script>
    <script src="public/js/vendor/angular-ui-router.min.js"></script>

    <!-- app -->
    <script src="public/js/system/api.js"></script>
    <script src="public/js/app.js"></script>

    <!-- controllers -->
    <script src="public/js/common/appCtrl.js"></script>
    <script src="public/js/search/searchInputCtrl.js"></script>
    <script src="public/js/search/searchCtrl.js"></script>
    <script src="public/js/stream/streamCtrl.js"></script>
    <script src="public/js/user/userCtrl.js"></script>
    <script src="public/js/playing/playingCtrl.js"></script>
    <script src="public/js/favorites/favoritesCtrl.js"></script>
    <script src="public/js/tracks/tracksCtrl.js"></script>
    <script src="public/js/playlists/playlistsCtrl.js"></script>
    <script src="public/js/following/followingCtrl.js"></script>
    
    <!-- directives -->
    <script src="public/js/common/playSongDirective.js"></script>
    <script src="public/js/common/openExternalLinkDirective.js"></script>


</body>
</html>