<div class="streamView">
    <h1 class="pull-left"> {{ title }}</h1>

    <!-- Genre Selector -->
    <div class="genre-selector pull-right" >
        <h3>Charts By Genre</h3>
        <div class="btn-group">
          <button ui-sref="charts({genre:'{{genre.link}}'})" ui-sref-opts="{reload:true}" class="button inline" ng-repeat="genre in genres">{{genre.title}}</button>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- Song list wrapper -->
    <div class="streamView_inner">
        <ul class="songList"
            infinite-scroll='loadMore()'
            infinite-scroll-distance='0'
            infinite-scroll-container='".mainView"'
            infinite-scroll-immediate-check='false' >

            <li class="songList_item" ng-repeat="data in data">

                <tracks data="data.track" type="data.type" user="data.user"/>

            </li>
        </ul>
    </div>
    <!-- Song list wrapper / end -->

    <div ng-include="'views/common/loading.html'"></div>

</div>
