.ui_app {
  padding-top: 50px;
  padding-bottom: 66px;
  background: $bodyBackground;
  overflow-x: hidden;
  position: relative;
  height: 100%;
}

.fa {
  color: #fff;
}

/*
* Modal/Dialog
*/
.modalView {
  font-size: 15px;
}
.modalView_content {

  p,
  strong {
    margin: 10px 0;
  }
  ul {
    margin: 10px 0;
  }

}
.closeModal {
  text-align: right;
  display: block;
  font-size: 25px;
  margin: 0 0 20px 0;

  i {
    cursor: pointer;
  }

}