$bodyBackground: #121314;
$sectionBackground: #222326;
$linkColor: #949599;
$defaultColor: #949599;
$separatorCleanColor: #3e3e40;
$separatorDarkColor: #000;
$scColor: #f50;
$transitionValue: all 0.5s ease;