.nowPlaying {}

.nowPlaying_inner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 200px;
  border-right: 1px solid $separatorDarkColor;
}

.nowPlaying_thumb {
  width: 100%;
  height: 200px;
  margin: 0 0 10px 0;
  display: block;
}

.nowPlaying_title {
  padding: 0 15px 5px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nowPlaying_user {
  display: inline-block;
  color: #949599;
  font-size: 11px;
  white-space: nowrap;
  text-transform: uppercase;
  padding: 0 15px 5px;
}

.nowPlaying_player {
  margin: 10px 0 0;
}