.songList_item.playlist {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 0 80px 0;

  & .songList_item_song_button {
    height: 100%;
    padding-top: 0;
    font-size: 32px;
  }

  & .songList_item_song_user {
    display: block;
    margin: 0 0 10px 0;
  }

  & .songList_item_songs_list_item {
    cursor: pointer;
    overflow: hidden;
    margin: 0 0 5px 0;
  }

  & .songList_item_container_artwork {
    width: 47px;
    height: 47px;
    float: left;
    position: relative;
  }

  & .songList_item_container_info {
    float: left;
    margin: 0 0 0 10px;
  }

  & .songList_item_song_tit {
    height: auto;
  }

}