.player_inner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $sectionBackground;
  border-top: 1px solid $separatorDarkColor;
  display: flex;
  z-index: 1;
}

.player_thumb {
  height: 60px;
  width: 60px;
  float: left;
}

.player_title {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 10px;
}

.player_details {
  width: 300px;
}

.player_user {
  display: block;
  color: #FFF;
  font-size: 11px;
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player_currentSong {
  display: none;
  margin: 10px 0 0;
}

.player_controls {
  margin-top: 20px;
  padding: 0 10px;
  overflow: hidden;
  width: 200px;
  display: flex;

  & .fa {
    font-size: 20px;
    color: #FFF;
  }
}

.player_volume {
  margin: 20px 15px 0;
  position: relative;

  & .fa {
    cursor: pointer;
    font-size: 20px;
  }

  & .player_volume_range {
    width: 100px;
    display: inline-block;
    position: absolute;
    -webkit-transform: rotate(-90deg);
    left: -40px;
    margin-top: -90px;
    padding: 5px;
    background: $sectionBackground;
    border-radius: 5px;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 16px;
      width: 16px;
      border-radius: 8px;
      background: #FFF;
      cursor: pointer;
      margin-top: -6px;
    }

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 5px;
      cursor: pointer;
      background: $scColor;
      border-radius: 2.5px;
    }

    &:focus::-webkit-slider-runnable-track {
      background: $scColor;
    }

    &[data-isVisible="false"] {
      display: none;
    }

    &[data-isVisible="true"] {
      display: inline-block;
    }
  }

}
.player_time {
  position: relative;
  flex: 2;
  width: 100%;
}

.player_timeLeft {
  font-size: 13px;
  position: absolute;
  left: 49%;
}

.player_progress {
  display: block;
  width: 100%;
  height: 8px;
  background: #FFF;
  border-radius: 5px;
  overflow: hidden;
  border-top: 1px solid $bodyBackground;
  border-bottom: 1px solid $bodyBackground;
  cursor: pointer;
  margin-top: 25px;

  & .player_progress_bar {
    display: block;
    width: 0;
    height: 100%;
    background: $scColor;
  }
}

.player_prevSong,
.player_play-pause,
.player_nextSong {
  display: block;
  overflow: hidden;
  text-align: center;
  flex-grow: 1;
  & .fa {
    cursor: pointer;
  }
}