.profile {
  overflow: hidden;
  margin-bottom: 25px;
}

.profile_box {
  display: inline-block;
  float: right;
  width: 590px;
  margin: 0 5px 0 5px;
}

.profile_pic {
  float: left;
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0 5px 0px 5px;
  width: 300px;
  height: 300px;
}

.profile_description {
  font-size: 12px;
}

.follow_button, .profile_show_button {
  float: right;
  text-align: center;
  color: #ededed;
  background: transparent;
  border: 1px solid;
  padding: .75em 0;
  border-radius: .25em;
  width: 100px;
  font-size: 13px;
  letter-spacing: 1px;
  transition: $transitionFastValue;

  &.followed {
    color: $scColor;
    &:hover {
      color: #FFF;
    }
  }

  &:hover {
    color: $defaultColor;
  }

  &:focus {
    outline: none;
  }
}

.profile_show_button {
  padding: .34em 0;
  font-size: 11px;
  line-height: 16px;
}