.mainView {
  // flex: 5 0 0;
  padding: 10px 20px;
  margin-left: 200px;

  & > div {
    max-width: 930px;
    min-width: 930px;
    margin: 0 auto;
  }

  & > div > h1 {
    margin: 10px 0 30px;
  }
}