.mainView {
  // flex: 5 0 0;
  padding: 10px 20px;
  margin-left: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;

  & > div {
    min-width: 130px;
    max-width: 100%;
    margin: 0 auto;
  }

  & > div > h1 {
    margin: 10px 0 30px;
    font-weight: 300;
    font-size: 3em;
  }
}

/*
* Modal UI components
*/
.mediaBox_wrapper {
  float: left;
  margin: 0 5px;

  &:first-child {
    margin-left: 0px;
  }
}

.mediaBox_item_info {
  font-size: 12px;
  display: inline-block;
  margin: 0 5px 0 0;

    &:last-child {
      margin-right: 0;
    }
}
