.mainView {
  // flex: 5 0 0;
  padding: 10px 20px;
  margin-left: 200px;

  & > div {
    max-width: 930px;
    min-width: 930px;
    margin: 0 auto;
  }

  & > div > h1 {
    margin: 10px 0 30px;
  }
}

.aboutView_content {
  font-size: 16px;

  & strong {
    font-weight: bold;
    display: block;
    margin: 20px 0 10px 0;
  }

  & ul {
    margin: 10px 0 20px 0;
  }
  & li {
    margin: 5px 0;
  }
}