<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>HTTP Controller for Soundnode</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
        <link href="/remote-control.css" rel="stylesheet">
    </head>
    <body>
        <div id="queue"></div>
        <div id="controls">
            <ul>
                <li><a href="#" id="prev" class="fa fa-step-backward"></a></li>
                <li><a href="#" id="playpause" class="fa fa-play"></a></li>
                <li><a href="#" id="next" class="fa fa-step-forward"></a></li>
            </ul>
        </div>
        <script async defer src="/remote-control.js"></script>
    </body>
</html>
