<div class="streamView">
    <h1> {{ title }}</h1>
    
    <!-- Song list wrapper -->
    <div class="streamView_inner">
        <ul class="songList" 
            infinite-scroll='loadMore()' 
            infinite-scroll-distance='0'
            infinite-scroll-disabled='{{ busy }}'
            infinite-scroll-immediate-check='false' >

            <li class="songList_item" ng-repeat="data in data"
                ng-if="data.type == 'track' && data.origin.streamable" >

                <tracks data="data.origin"/>

            </li>
        </ul>
    </div>
    <!-- Song list wrapper / end -->

    <div ng-include="'views/partials/loading.html'"></div>

</div>

<div class="displaylists" ng-show="showpopup">
  <div ng-click="showplaylists()">
    <a class="playlistTitle">
      <h1> Playlists </h1>
    </a>
    <a class="playlistCloseButton" ng-click="closeOverlay()">
        <i class="fa fa-times">Close</i>
    </a>
  </div>
  <div ng-include="'views/addToPlaylist/addToPlaylist.html'" ng-show="displayplaylists">
    
  </div>
</div>
