<div class="streamView">
    <h1> {{ ::title }}
        <div class="songList_item_container_layout" ng-class="{active: hoverGrid || !listView}"
            ng-mouseover="hoverGrid = true"
            ng-mouseleave="hoverGrid = false"
            ng-click='clickGrid()'>
        <i class="fa fa-th"></i>
        </div>
        <div class="songList_item_container_layout" ng-class="{active: hoverList || listView}"
            ng-mouseover="hoverList = true"
            ng-mouseleave="hoverList = false"
            ng-click='clickList()'>
         <i class="fa fa-list"></i>
        </div>
    </h1>
    <!-- Song list wrapper -->
    <div class="streamView_inner">
        <ul class="songList"
            infinite-scroll='loadMore()'
            infinite-scroll-distance='0'
            infinite-scroll-container='".mainView"'
            infinite-scroll-immediate-check='false' >

            <li ng-class="{ songList_item_list: listView, songList_item: !listView }" ng-repeat="data in data">

                <tracks data="data.track" type="data.type" user="data.user" list="listView"/>

            </li>
        </ul>
    </div>
    <!-- Song list wrapper / end -->

    <div ng-include="'views/common/loading.html'"></div>

</div>