<div class="playlistsView">
    <h1> {{ title }}</h1>

    <p ng-hide="display" class="noData"><strong>No Playlists on your user account.</strong></p>

    <!-- Song list wrapper -->
    <div class="playlistsView_inner" ng-show="display">
        <ul class="songList">
            <li class="songList_item" ng-repeat="data in data"
                ng-class="{ active: hover, playlist: data.kind  }"
                ng-mouseover="hover = true"
                ng-mouseleave="hover = false"
                data-kind="{{ data.kind }}">

                <h4 class="songList_item_song_user">My <strong>{{ data.title }}</strong> playlist</h4>

                <ul class="songList_item_songs_list">
                    <li class="songList_item_songs_list_item" ng-repeat="tracks in data.tracks">

                        <div class="songList_item_container_artwork">
                            <img src="{{ checkForPlaceholder(tracks.artwork_url) }}" alt="{{ tracks.title }}" class="songList_item_artwork">
                        </div>

                        <div class="songList_item_container_info">
                            <h2 class="songList_item_song_tit">{{ tracks.title }}</h2>
                            <h4 class="songList_item_song_user">by: {{ tracks.user.username }}</h4>
                        </div>

                    </li>
                </ul>

            </li>
        </ul>
    </div>

</div>