<div class="playlistDashboard">
    <div ng-include="'views/common/modals/closeButton.html'"></div>

    <!-- create new playlist -->
    <header class="playlistDashboard_title">
        <p>Where do you want to add: <span class="playlistDashboard_selectedSong">{{ playlistSongName }}</span></p>
        <form ng-submit="createPlaylistAndSaveSong()">
            <input type="text" name="new_playlist" id="newPlaylist" placeholder="Create a new playlist and add selected song..." class="playlistDashboard_field" ng-model="playlistName">
        </form>
    </header>
    <!-- create new playlist /  -->

    <ul class="playlistDashboard_list">
        <li class="playlistDashboard_list_item" ng-repeat="data in data" ng-click="saveToPlaylist(data.id)">
            <div class="mediaBox_wrapper">
                <img ng-src="{{ checkForPlaceholder(data.artwork_url) }}" alt="{{ data.title }}" class="playlistDashboard_list_item_artwork">
            </div>
            <div class="mediaBox_wrapper">
                <h4 class="mediaBox_item_title">{{ data.title }}</h4>
                <span class="mediaBox_item_info">
                    <i class="fa fa-list"></i> {{ data.track_count }}
                </span>
                <span class="mediaBox_item_info">
                    <i class="fa fa-clock-o"></i> {{ formatSongDuration(data.duration) }}
                </span>
            </div>
        </li>
    </ul>
</div>