<div class="profileView">

    <div class="profile">
        <div class="profile_box">
            <button ng-click="changeFollowing()" ng-mouseover="hoverIn()" ng-mouseleave="setFollowButtonText()" class="follow_button">{{follow_button_text}}</button>
            <h1>{{profile_data.username}}</h1>
            <h3>Followers: {{followers_count}}</h3>
            <p class="profile_description" dd-text-collapse dd-text-collapse-max-length="1300" dd-text-collapse-text="{{profile_data.description}}"></p>
        </div>
        <div class="profile_pic">
            <img ng-src="{{ showBigArtwork (profileData.avatar_url) }}" alt="{{ profileData.username }}" class="songList_item_artwork">
        </div>
    </div>

    <!-- Song list wrapper -->
    <div class="favoritesView_inner">
        <h2>Tracks:</h2><br>

        <ul class="songList"
            infinite-scroll='loadMore()'
            infinite-scroll-distance='0'
            infinite-scroll-disabled='{{ busy }}'
            infinite-scroll-immediate-check='false' >

            <li class="songList_item" ng-repeat="data in data"
                ng-if="data.kind == 'track' && data.streamable" >

                <tracks data="data"/>

            </li>
        </ul>
    </div>
    <!-- Song list wrapper / end -->

    <div ng-include="'views/partials/loading.html'"></div>

</div>