<div class="queueListView">

    <!-- Song list wrapper -->
    <ul class="queueListView_list">
        <li class="queueListView_list_itemTitle">
            <span class="labelColumn">TRACKS</span>
            |
            <span class="labelColumn">ARTIST</span>
        </li>
        <li class="queueListView_list_item"
            ng-repeat="item in data"
            song
            data-song-url="{{ item.songUrl }}"
            data-song-thumbnail="{{ item.songThumbnail }}"
            data-song-title="{{ item.songTitle }}"
            data-song-user="{{ item.songUser }}"
            data-song-id="{{ item.songId }}"
            ng-click="activateTrackInQueue($event)">

            <small class="queueListView_list_item_index">{{ $index + 1 }}</small>
            <span class="queueListView_list_item_title selectable-text" title="{{ item.songTitle }}">{{ item.songTitle }}</span>
            <span class="queueListView_list_item_user" title="by: {{ item.songUser }}">by: {{ item.songUser }} </span>
            <div class="queueListView_list_item_options"
                 ng-class="{ active: hover }"
                 ng-mouseover="menuPosition($event); hover = true"
                 ng-mouseleave="hover = false" >
                <i class="fa fa-ellipsis-v"></i>
                <div class="queueListView_list_item_options_arrow"></div>
                <ul class="queueListView_list_item_options_list">
                    <li class="queueListView_list_item_options_list_button" ng-click="remove($event); $event.stopPropagation();">Remove</li>
                    <li class="queueListView_list_item_options_list_button" ng-click="like($event); $event.stopPropagation();">Like</li>
                    <li class="queueListView_list_item_options_list_button" ng-click="repost($event); $event.stopPropagation();">Repost</li>
                    <li class="queueListView_list_item_options_list_button" ng-click="addToPlaylist($event); $event.stopPropagation();">Add to playlist</li>
                    <li class="queueListView_list_item_options_list_button" ng-click="gotoTrack($event); $event.stopPropagation();">Go to track</li>
                </ul>
            </div>

        </li>
    </ul>
</div>
<!-- Song list wrapper / end -->

</div>