<div class="songList_item_container_artwork"
     ng-class="{ active: hover }"
     ng-mouseover="hover = true"
     ng-mouseleave="hover = false">
                    <span class="songList_item_song_button"
                          song
                          data-song-url="{{ data.stream_url }}"
                          data-song-thumbnail="{{ data.artwork_url }}"
                          data-song-title="{{ data.title }}"
                          data-song-user="{{ data.user.username }}" >

                        <i class="fa fa-play"></i>
                        <i class="fa fa-pause"></i>
                    </span>
    <img ng-controller="AppCtrl" ng-src="{{ showBigArtwork (data.artwork_url) }}" alt="{{ data.title }}" class="songList_item_artwork">
    <div class="songList_item_song_social_details">
        <span class="songList_comment_count">
            <i class="fa fa-comments"></i>{{data.comment_count | round}}
        </span>
        <span class="songList_likes_count">
            <i class="fa fa-heart"></i>{{data.favoritings_count | round}}
        </span>
        <span class="songList_reposts_count" ng-if="data.reposts_count">
            <i class="fa fa-retweet"></i>{{data.reposts_count | round}}
        </span>
    </div>
</div>

<section class="songList_item_inner">
    <h2 class="songList_item_song_tit" title="{{ data.title }}">{{ data.title }}</h2>

    <h3 class="songList_item_song_user">
      <a ui-sref="profile({id: {{data.user.id}}})">{{ data.user.username }}</a>
      <span ng-controller="AppCtrl" class="songList_item_song_length"> {{ formatSongDuration (data.duration) }}</span>
    </h3>

    <div class="songList_item_song_details">
        <div class="songList_item_actions">
            <span>
                <a href="{{ data.permalink_url }}" open-external target="_blank"> <i class="fa fa-external-link"></i> permalink</a>
            </span>
            <span>
                <a favorite-song data-song-id="{{ data.id }}" data-favorite-action="{{ data.user_favorite === null ? 'false' : data.user_favorite }}"> <i class="fa fa-heart"></i> like</a>
            </span>
            <span>
                <a data-song-id="{{ data.id }}" data-song-name="{{ data.title }}" playlist> <i class="fa fa-bookmark"></i> Add to playlist</a>
            </span>
        </div>
        <div class="songList_item_additional_details">
            <span class="songList_item_genre">{{ data.genre }}</span>
            <span class="songList_item_license">{{ data.license }}</span>
        </div>
    </div>
</section>