<aside class="aside">

    <!-- header -->
    <header class="header">
        <!-- user -->
        <div class="user" ng-controller="UserCtrl">
            <img src="{{ userThumb }}" alt="{{ name }}" class="user_thumb">
            <div class="user_inner">
                <span class="user_name">{{ name }}</span>
                <a href="" class="user_logOut" ng-click="logOut()">Log out</a>
            </div>
        </div>
        <!-- user / end -->
    </header>
    <!-- header / end -->

    <!-- search -->
    <div class="search" ng-controller="SearchInputCtrl">
        <form ng-submit="onSubmit(keyword)">
            <input type="search" placeholder="Search" id="search" class="search_field" ng-model="keyword">
            <input type="submit" id="submit" value="Submit" class="searchButton" />
        </form>
    </div>
    <!-- search / end -->

    <!-- main nav -->
    <nav class="mainNav">
        <h2 class="ui_title">Main</h2>
        <ul class="mainNav_nav">
            <li class="mainNav_item">
                <a class="mainNav_button" ui-sref="stream">
                    <i class="fa fa-cloud"></i>
                    <span class="mainNav_tit">Stream</span>
                </a>
            </li>
            <li class="mainNav_item">
                <a class="mainNav_button" ui-sref="favorites">
                    <i class="fa fa-heart"></i>
                    <span class="mainNav_tit">Likes</span>
                </a>
            </li>
            <li class="mainNav_item">
                <a class="mainNav_button" ui-sref="tracks">
                    <i class="fa fa-tags"></i>
                    <span class="mainNav_tit">Tracks</span>
                </a>
            </li>
            <li class="mainNav_item">
                <a class="mainNav_button" ui-sref="playlists">
                    <i class="fa fa-bookmark"></i>
                    <span class="mainNav_tit">Playlists</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- main nav / end -->

    <!-- now player -->
    <div ng-include="'includes/player.html'"></div>
    <!-- now player / end -->

</aside>