<header class="topFrame">
    <ul class="windowAction">
        <li class="windowAction_item " id="closeApp">
            <i class="fa fa-times"></i>
        </li>
        <li class="windowAction_item " id="minimizeApp">
            <i class="fa fa-minus"></i>
        </li>
        <li class="windowAction_item " id="expandApp">
            <i class="fa fa-plus"></i>
        </li>
        <li class="windowAction_item navigationButton goBack" ng-click="goBack()">
            <i class="fa fa-chevron-left"></i>
        </li>
        <li class="windowAction_item navigationButton goForward" ng-click="goForward()">
            <i class="fa fa-chevron-right"></i>
        </li>
    </ul>

    <ul class="appInfo">
        <li class="appInfo_item" ng-controller="AboutCtrl">
            <a ng-click="toggleAboutView()">about</a>
        </li>
        <li class="appInfo_item" ng-controller="UpdaterCtrl">
            <a href="http://www.soundnodeapp.com" target="_blank" open-external ng-class="{ updateAvailable: updateAvailable }" data-link="true"> update available! </a>
        </li>
    </ul>

    <h1 class="topFrame_title">
        <img src="public/img/logo.70.png">
    </h1>
</header>