<div class="player" ng-controller="PlayerCtrl">
    <div class="player_inner">
        <img id="playerThumb" src="public/img/logo-short.png" alt="" class="player_thumb">
        <h2 id="playerTitle" class="player_title"></h2>
        <h4 id="playerUser" class="player_user"></h4>
        <div class="player_controls">
            <span class="player_timeLeft" id="player-timeleft">0</span>
            <span class="player_progress">
              <span class="player_progress_bar" id="player-progress"></span>
            </span>
            <!-- player buttons -->
            <span class="player_prevSong" ng-click="prevSong($event)">
                <i class="fa fa-fast-backward"></i>
            </span>
            <span class="player_play-pause" ng-click="playPause($event)">
                <i class="fa fa-play"></i>
                <i class="fa fa-pause" ></i>
            </span>
            <span class="player_nextSong" ng-click="nextSong($event)">
                <i class="fa fa-fast-forward"></i>
            </span>
        </div>
        <audio id="player" controls src="" class="player_currentSong"></audio>
    </div>
</div>